<br>
<h3 class="header">Recipes</h3>
<br>
<% if @all_recipes && @all_recipes.any? %>
  <div class="container">
      <% @all_recipes.each do |recipe| %>
          <%= link_to recipe_path(recipe.id) do %>
            <article>
              <p> <%= image_tag(recipe.image_url, :class => "thumbnail") %> </p>
              <p><h3 class="thumbnail_name"><%= recipe.name %></h3></p>
              <br>
            </article>
          <% end %>
        <% end %>
  </div>
<% else %>
  <p id="emptywarning">Please use/include more ingredients in your kitchen to show more recipes</p>
<% end %>

<% if @partial_recipes && @partial_recipes.any? %>
  <h3 id="someingredients">Recipes you have some ingredients for</h3>
  <div class="container">
    <% @partial_recipes.each do |recipe| %>
      <%= link_to recipe_path(recipe.id) do %>
        <article>
          <p> <%= image_tag(recipe.image_url, :class => "thumbnail") %> </p>
          <p><h3 class="thumbnail_name"><%= recipe.name %></h3></p>
          <br>
        </article>
      <% end %>
    <% end %>
  </div>
<% end %>
<center>
<% if current_user %>
  <%= form_tag("/recipes", method: "get") do %>
  <input type="submit" name="allrecipes" id="allrecipes" value="Show all Recipes"></input>
  <% end %>
<% end %>
</center>
