<br><br><br>
<h3 class="sub_header">Create a new Recipe!</h3>
<br>
<div class="form kitchen">
  <%= form_for :recipe do |f| %>
    <p>
      <%= f.label :name  %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :image_url  %>
      <%= f.text_field :image_url %>
    </p>
    <div id="step-div">
      <p>Step 1: <input type="textarea" name="recipe[steps][1]" id="step1" ></p>
    </div>
    <button type="button" name="button" id="add-step-button">Add a new Step</button>
    <div id="ingredient-div">
      <p>Ingredient 1: <input type="textarea" name="recipe[ingredient][1]" id="ingredient1" ></p>
    </div>
    <p><button type="button" name="button" id="add-ingredient-button">Add a new Ingredient</button></p>
    <%= f.submit %>
    </p>
  <% end %>
</div>
