<h3 class="header">Recipe</h3>
<article>

  <span>
    <h3 class="recipe_header"><%= @recipe.name %></h3>
    <%= image_tag('https://' + @recipe.image_url, :class => "recipe_image") %>
  </span>

  <p class="sub_header"><strong>Steps</strong></p>
  <% @steps.each_with_index do |step, i| %>
    <p class="content">Step <%= i+1 %>: <%= step.content %></p>
  <% end %>

  <p class="sub_header"><strong>Ingredients</strong></p>

  <% @ingredients.each do |ingredient| %>
    <p class="content"><%= ingredient.measurement_unit %>: <%= ingredient.food.name %></p>
  <% end %>

  <% if current_user %>
    <% unless @favorited  %>
      <%= form_tag favorite_recipe_path(@recipe.id) do %>
        <%= submit_tag 'Save Recipe To Favourites' %>
      <% end %>
    <% end  %>
    <div class="reviews-div">
      <% if @reviews  %>
        <% @reviews.each do |review| %>
          <div class="review">
            <p><%= current_user.name %>:<%= review.comment %></p>
            <p><time><%= review.created_at %></time></p>
          </div>
        <% end  %>
      <% end  %>
      <p>
        <%= form_tag review_recipe_path(@recipe.id) do %>
          <%= text_area_tag 'comment' %>
          <%= submit_tag 'Post Review' %>
        <% end %>
      </p>
    </div>
    <%= form_tag favorite_recipe_path(@recipe.id) do %>
      <%= submit_tag 'Save' %>
    <% end %>
    <%= form_tag saved_foods_path(@recipe.id) do %>
      <%= submit_tag 'Add all foods to Shopping List' %>
    <% end %>
    <%= form_tag saved_some_foods_path(@recipe.id) do %>
      <%= submit_tag 'Add foods I do not own to Shoping List' %>
    <% end %>
    <%= form_tag made_recipe_path(@recipe.id) do %>
      <%= submit_tag 'I made this!' %>
    <% end %>
  <% end  %>

</article>
