<h3 class="header">Recipe</h3>
<article>

  <span>
    <h3 class="recipe_header"><%= @recipe.name %></h3>
    <%= image_tag(@recipe.image_url, :class => "recipe_image") %>
  </span>

  <p class="sub_header"><strong>Steps</strong></p>

  <div class="steps">
    <% @steps.each_with_index do |step, i| %>
      <p class="content">Step <%= i+1 %>: <%= step.content %></p>
    <% end %>
  </div>

  <p class="sub_header"><strong>Ingredients</strong></p>

  <% @ingredients.each do |ingredient| %>
    <p class="content"><%= ingredient.measurement_unit %>: <%= ingredient.food.name %></p>
  <% end %>

  <div class="nutritioncontainer">
    <div class="nutrition">
      <p>calories: <span id="nutrition_calories"><%= @nutrition[:calories].round(0) %></span> </p>
      <p>total_fat: <span id="nutrition_total_fat"><%= @nutrition[:total_fat].round(0) %></span> </p>
      <p>saturated_fat: <span id="nutrition_saturated_fat"><%= @nutrition[:saturated_fat].round(0) %></span> </p>
      <p>cholesterol: <span id="nutrition_cholesterol"><%= @nutrition[:cholesterol].round(0) %></span> </p>
      <p>sodium: <span id="nutrition_sodium"><%= @nutrition[:sodium].round(0) %></span> </p>
      <p>potassium: <span id="nutrition_potassium"><%= @nutrition[:potassium].round(0) %></span> </p>
      <p>total_carbohydrates: <span id="nutrition_total_carbohydrates"><%= @nutrition[:total_carbohydrates].round(0) %></span> </p>
      <p>dietary_fiber: <span id="nutrition_dietary_fiber"><%= @nutrition[:dietary_fiber].round(0) %></span> </p>
      <p>sugars: <span id="nutrition_sugars"><%= @nutrition[:sugars].round(0) %></span> </p>
      <p>protein: <span id="nutrition_protein"><%= @nutrition[:protein].round(0) %></span> </p>
    </div>
  </div>
  <br>
  <div class="reviews-div ">
    <% if @reviews  %>
      <% @reviews.each do |review| %>
        <div class="review">
          <p><%= current_user.name %>:<%= review.comment %></p>
          <p><time><%= review.created_at %></time></p>
        </div>
      <% end  %>
    <% end  %>
  </div>


 <div class="bottom_menu">
  <% if current_user %>

        <div class="hidden"><p>
        <%= form_tag review_recipe_path(@recipe.id) do %>
          <span class="call_to_action">
            <%= text_area_tag 'comment', nil, size: "53x7" %>
          </span>
          <br>
          <%= submit_tag 'Post Review', :class => "call_to_action" %>
        <% end %>
      </div>
      </p>
       <% unless @favorited  %>
          <%= form_tag favorite_recipe_path(@recipe.id) do %>
            <%= submit_tag 'Save Recipe To Favourites', :class => "call_to_action"%>
          <% end %>
        <% end  %>

      <%= form_tag favorite_recipe_path(@recipe.id) do %>
        <%= submit_tag 'Save to Favorites', :class => "call_to_action" %>
      <% end %>

      <%= form_tag saved_foods_path(@recipe.id) do %>
        <%= submit_tag 'All foods to Shopping List', :class => "call_to_action" %>
      <% end %>

      <%= form_tag saved_some_foods_path(@recipe.id) do %>
        <%= submit_tag 'Foods I dont own to Shoping List', :class => "call_to_action" %>
      <% end %>

      <%= form_tag made_recipe_path(@recipe.id) do %>
        <%= submit_tag 'I made this Recipe!', :class => "call_to_action" %>
      <% end %>
      <button class="button button-royal button-circle button-giant" id='button'><i class="fa fa-plus"></i></button>
     <% end  %>
    </div>
</article>
