<br>
<h3>Recipe</h3>
<br>
<article>
  <p><h3><%= @recipe.name %></h3></p>
  <br>
  <p> <%= image_tag('https://' + @recipe.image_url) %> </p>
  <p><strong>Steps</strong></p>
  <% @steps.each_with_index do |step, i| %>
    <p>Step <%= i+1 %>: <%= step.content %></p>
  <% end %>
  <br>
  <p><strong>Ingredients</strong></p>
  <% @ingredients.each do |ingredient| %>
    <p><%= ingredient.measurement_unit %>: <%= ingredient.food.name %></p>
  <% end %>

  <% if current_user %>
    <%= form_tag favorite_recipe_path(@recipe.id) do %>
      <%= submit_tag 'Save' %>
    <% end %>
  <% end  %>

</article>
