<h2 class="header"><%= current_user.name.capitalize %>'s Kitchen</h2>
<br>
<h2 class="sub_header">Ingredients In Pantry</h2>
<div class="food-div">
  <% @foods.each do |food| %>
    <article>
      <p><%= food.name %></p>
    </article>
  <% end %>
  <br>
  <center><%= link_to "Add Ingredients", users_pantry_path, :class => "input input-btn" %></center>
  <br><br>
</div>
  <br><br>
<center><h2>Your Appliances</h2></center>
<br><br>
<div class="food-div">
  <% @appliances.each do |appliance| %>
    <article>
      <p><%= appliance.name.capitalize %></p>
    </article>
  <% end %>
  <br><br><br><br>
  <center><%= link_to "Add Appliances", user_appliances_path, :class => "input input-btn" %></center>
  <br><br>
</div>
