<br>
<p><strong><h3 class="header">Add to Pantry</h3></strong></p>
<br>
  <div class="pantry">
    <%= form_tag update_pantry_path(@users), method: :patch do %>
    <% @foods.each do |food| %>
      <% if current_user.foods.include?(food) %>
        <p>
          <%= check_box_tag(food.name.downcase, 1, true) %>
          <%= label_tag food.name %>
        </p>
      <% else %>
        <p>
          <%= check_box_tag(food.name.downcase, 1, false) %>
          <%= label_tag food.name %>
        </p>
      <% end %>
    <% end %>
    <p>
      <%= submit_tag "Add to my Kitchen!" %>
    </p>
  <% end %>
  <br>

</div>
