<!DOCTYPE html>
<html>
  <head>
    <title>MyKitchenApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <div class="menu">
      <div id='whitespace'></div>
      <%= link_to("Home", root_path, :id => 'topmenu') %>
        <% if current_user %>
          <%= link_to "Profile(#{current_user.name})", user_profile_path(current_user) %>
          <%= link_to "Logout", session_path("current"), method: :delete %>
          <%= link_to "Add a Recipe", new_recipe_path %>
          <%= link_to "Add to My Kitchen", users_kitchen_path %>
          <%= link_to "Favourites", user_favorites_path %>
          <%= link_to "Shopping List", users_shoppinglist_path %>
        <% else %>
          <%= link_to "Login", new_session_path , :id => 'loginlink'%>
          <%= link_to "Signup", new_user_path %>
      <% end %>
    </div>

    <nav>
      <center><h1><%= link_to("MyKitchenApp", root_path) %></h1></center>

      <button class="hamburger hamburger--spin" type="button" id="hamburger">
        <span class="hamburger-box">
          <span class="hamburger-inner">
          </span>
        </span>
      </button>

      <%= link_to "Advance Search", recipes_search_path, :id => "adv_search" %>

      <center>
        <%= form_tag(recipes_path, method: :get) do %>
          <%= text_field_tag :term, params[:term], :id => "normal_search" %>
          <%= submit_tag 'Search', :id => "normal_search" %>
        <% end %>
      </center>

    </nav>
    <div class="modal"></div>

    <%= yield %>

  </body>
</html>
