<!DOCTYPE html>
<html>
  <head>
    <title>MyKitchenApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <div class="menu">
      <div id='whitespace'></div>
      <%= link_to("Home", root_path, :id => 'topmenu') %>
        <% if current_user %>
          <%= link_to "Profile(#{current_user.name})", user_profile_path(current_user) %>
          <%= link_to "Logout", session_path("current"), method: :delete %>
          <%= link_to "Add a Recipe", new_recipe_path %>
          <%= link_to "Add to My Kitchen", users_kitchen_path %>
          <%= link_to "Favourites", user_favorites_path %>
          <%= link_to "Shopping List", users_shoppinglist_path %>
          <%= link_to "Weekly Planner", user_weeklyplanner_path %>
          <%= link_to "Advance Search", recipes_search_path, :id => "adv_search_menu" %>
        <% else %>
          <%= link_to "Login", new_session_path , :id => 'loginlink'%>
          <%= link_to "Signup", new_user_path %>
          <div id="navlogin">
            <%= form_tag sessions_path do %>
              <p>
                <%= label_tag :name%> <br />
                <%= text_field_tag :name %>
              </p>
              <p>
                 <%= label_tag :password %><br />
                 <%= password_field_tag :password %>
              </p>
              <p>
                <%= submit_tag "Log In" %>
              </p>
            <% end %>
          </div>
        <% end %>
    </div>

    <nav>
      <h1><%= link_to("MyKitchenApp", root_path, :id => 'LogoHeader') %></h1></center>

      <button class="hamburger hamburger--spin" type="button" id="hamburger">
        <span class="hamburger-box">
          <span class="hamburger-inner">
          </span>
        </span>
      </button>

      <div id="search_container">
        <div id="search_right_align">
          <div id="normal_search_wrapper">
            <%= form_tag(recipes_path, method: :get, :id => 'normal_search') do %>
              <%= text_field_tag :term, params[:term]%>
              <%= submit_tag 'Search'%>
            <% end %>
          </div>
          <%= link_to "Advanced Search", recipes_search_path, :id => "adv_search" %>
        </div>
      </div>
    </nav>

    <div class="modal"></div>

  <% if flash && flash.any?  %>
      <div class="flash">
        <center id="crimson">
          <% flash.each do |key, message| %>
            <div id="error_text">
              <h4><%= key %></h4>
              <% if message && message.class != String && message.any?  %>
                <% message.each do |sub_message|  %>
                  <h5><%= sub_message %></h5>
                <% end  %>
              <% else  %>
                <h5><%= message %></h5>
              <% end  %>
            </div>
          <% end %>
        </center>
      </div>
  <% end  %>

    <%= yield %>

    <footer>

    </footer>
  </body>
</html>
